@using TravelTripProje.Models.Siniflar
@model List<Blog> 
<div class="con-bot">
    @foreach (var x in Model)
    {
        <div class="left" @*style="width:29%"*@  >
            <div class="bot-left">
                <img src="@x.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@x.Baslik</h4>
                <span class="doller">@x.Tarih</span>
                <p>Açıklama gelecek.</p>
                <p><a href="/Blog/BlogDetay/@x.ID"><span class="read">Devamını oku >></span></a></p>
            </div>
        </div>
    }

    @Html.Action("Partial2", "Default")

   @* @foreach (var x in Model)
    {

        <div class="right">

            <div class="bot-left">
                <img src="@x.BlogImage" alt="" />
            </div>
            <div class="left-text">

                <h4>@x.Baslik</h4>
                <span class="doller">@x.Tarih</span>
                <p>Açıklama gelecek.</p>
                <p><a href="#"><span class="read">Read More >></span></a></p>
            </div>

        </div>
    }*@

    <div class="clear"></div>
</div>